--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.9.1
torchaudio==0.24.1
tensorrt-cu12==10.14.1.48; sys_platform == 'linux'
tensorrt-cu12-bindings==10.14.1.48; sys_platform == 'linux'
tensorrt-cu12-libs==10.14.1.48; sys_platform == 'linux'